{% extends 'base.html' %}

{% block content %}

 <div id="container" class="container">
            <div class="row text-dark">
                <div class="col-sm-6 offset-sm-3 text-center">
                   <h3 class="display-4" style='margin-bottom: 30;'>Signup</h3>
                  <h1> {{ error }} </h1><br>
                    <div class="info-form">
                        <form method="POST" action="{% url 'signup' %}" class="form-inlin justify-content-center">
                        	{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only">Username</label>
                                <input type="text" name='username' class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="text" name='password' class="form-control" placeholder="Password">
                            </div>
                             <div class="form-group">
                                <label class="sr-only">Confirm Password</label>
                                <input type="text" name='confirmpassword' class="form-control" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn btn-success ">Signup</button>
                        </form>
                    </div>
                    <br>

                  
                </div>
            </div>
        </div>


{% endblock %}